@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Kablammo', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  font-family: 'Honk', sans-serif;
}

/* DID word */

.didDLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: mediumturquoise;
  font-family: 'Piazolla', sans-serif;
}

.didILetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkblue;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: lightcoral;
  font-family: 'Kablammo', sans-serif;
}

.didDTwoLetter { 
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightseagreen;
  font-family: 'DynaPuff', sans-serif;
}

/* THE word */

.theTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightyellow;
  font-family: 'Piazolla', sans-serif;
}

.theHLetter {
  font-size: 40px;
  font-weight: normal;
  color: darkorange;
  text-decoration: normal;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'sans-serif', sans-serif;
}

.theELetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkturquoise;
  text-decoration: blanchedalmond;
  text-transform: uppercase;
  background-color: lightgreen;
  font-family: 'Kablammo', sans-serif;
}

/* FRONT-END word */

.frontendFLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkred;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: whitesmoke;
  font-family: 'DynaPuff', sans-serif;
}

.frontendRLetter {
  font-size: 40px;
  font-weight: normal;
  color: darkviolet;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: lightskyblue;
  font-family: 'Kablammo', sans-serif;
}

.frontendOLetter { 
  font-size: 60px;
  font-weight: bold;
  color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
  background-color: darkgreen;
  font-family: 'Honk', sans-serif;
}

.frontendNLetter { 
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: whitesmoke;
  font-family: 'DynaPuff', sans-serif;
}

.frontendTLetter {
  font-size: 50px;
  font-size: 40px;
  font-weight: normal;
  color: yellow;
  text-decoration: normal;
  text-transform: uppercase;
  background-color: blue;
  font-family: 'DynaPuff', sans-serif;
}

.frontendELetter { 
  font-size: 60px;
  font-weight: bold;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  background-color: yellow;
  font-family: 'DynaPuff', sans-serif;
}

.frontendNTwoLetter { 
  font-size: 50px;
  font-weight: bold;
  color: green;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightgray;
  font-family: 'Honk', sans-serif;
}

.frontendDLetter {  
  font-size: 40px;
  font-weight: normal;
  color: purple;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: black;
  font-family: 'Kablammo', sans-serif;
}

/* DEVELOPER word */

.developerDLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkslateblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'Kablammo', sans-serif;
}
.developerELetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkolivegreen;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: lightpink;
  font-family: 'Honk', sans-serif;
}
.developerVLetter { 
  font-size: 60px;
  font-weight: bold;
  color: lightslategray;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(245, 33, 171);
  font-family: 'DynaPuff', sans-serif;
}
.developerETwoLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkcyan;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: darkorchid;
  font-family: 'Kablammo', sans-serif;
}
.developerLLetter { 
  font-size: 40px;
  font-weight: bold;
  color: rgb(200, 96, 4);
  text-decoration: overline;
  text-transform: uppercase;
  background-color: whitesmoke;
  font-family: 'Honk', sans-serif;
}
.developerOLetter { 
  font-size: 60px;
  font-weight: normal;
  color: lightseagreen;
  text-decoration: none;
  text-transform: uppercase;
  background-color: grey;
  font-family: 'DynaPuff', sans-serif;
}
.developerPLetter { 
  font-size: 50px;
  font-weight: normal;
  color: darkmagenta;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: white;
  font-family: 'Kablammo', sans-serif;
}
.developerEThreeLetter { 
  font-size: 40px;
  font-weight: normal;
  color: black;
  text-decoration: normal;
  text-transform: lowercase;
  background-color: red;
  font-family: 'Honk', sans-serif;
}
.developerRLetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkred;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightyellow;
  font-family: 'DynaPuff', sans-serif;
}

/* TAKE word */

.takeTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Piazolla', sans-serif;
}
.takeALetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkgreen;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: darkorange;
  font-family: 'Kablammo', sans-serif;
}
.takeKLetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkviolet;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Honk', sans-serif;
}
.takeELetter { 
  font-size: 50px;
  font-weight: bold;
  color: green;
  text-decoration: normal;
  text-transform: uppercase;
  background-color: darkorchid;
  font-family: 'DynaPuff', sans-serif;
}

/* UP word */

.upULetter { 
  font-size: 50px;
  font-weight: bold;
  color: pink;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(72, 4, 8);
  font-family: 'Piazolla', sans-serif;
}
.upPLetter { 
  font-size: 40px;
  font-weight: normal;
  color: gainsboro;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: darkblue;
  font-family: 'Kablammo', sans-serif;
}

/* GARDENING word */

.gardeningGLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightyellow;
  font-family: 'Piazolla', sans-serif;
}
.gardeningALetter { 
  font-size: 40px;
  font-weight: normal;
  color: orangered;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: plum;
  font-family: 'Kablammo', sans-serif;
}
.gardeningRLetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkslateblue;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Honk', sans-serif;
}
.gardeningDLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkorange;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'DynaPuff', sans-serif;
}
.gardeningELetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkviolet;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightgreen;
  font-family: 'Kablammo', sans-serif;
}
.gardeningNLetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkred;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'Honk', sans-serif;
}
.gardeningILetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightpink;
  font-family: 'DynaPuff', sans-serif;
}
.gardeningNTwoLetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkcyan;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightseagreen;
  font-family: 'Kablammo', sans-serif;
}
.gardeningGTwoLetter { 
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: darkorchid;
  font-family: 'Honk', sans-serif;
}

/* BECAUSE word */

.becauseBLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Piazolla', sans-serif;
}
.becauseELetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkgreen;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Kablammo', sans-serif;
}
.becauseCLetter { 
  font-size: 60px;
  font-weight: bold;
  color: salmon;
  text-decoration: none;
  text-transform: uppercase;
  background-color: navy;
  font-family: 'Piazolla', sans-serif;
}
.becauseALetter { 
  font-size: 60px;
  font-weight: bold;
  color: violet;
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  font-family: 'DynaPuff', sans-serif;
}
.becauseULetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkviolet;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(120, 241, 241);
  font-family: 'Honk', sans-serif;
}
.becauseSLetter { 
  font-size: 60px;
  font-weight: bold;
  color: rgb(60, 68, 233);
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(120, 241, 241);
  font-family: 'Piazolla', sans-serif;
}
.becauseETwoLetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkviolet;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Honk', sans-serif;
}

/* THEY word */

.theyTLetter {  
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Piazolla', sans-serif;
}
.theyHLetter { 
  font-size: 40px;
  font-weight: normal;
  color: darkgreen;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Kablammo', sans-serif;
}
.theyELetter { 
  font-size: 60px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightgreen;
  font-family: 'Honk', sans-serif;
}
.theyYLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkred;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'DynaPuff', sans-serif;
}

/* WANTED word */

.wantedWLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(6, 192, 62);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(48, 3, 161);
  font-family: 'Piazolla', sans-serif;
}
.wantedALetter {  
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Honk', sans-serif;
}
.wantedNLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(80, 44, 3);
  text-decoration: overline;
  text-transform: uppercase;
  background-color: rgb(40, 193, 231);
  font-family: 'Piazolla', sans-serif;
}
.wantedTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(198, 232, 7);
  text-decoration: line-through;
  text-transform: uppercase;
  background-color: rgb(235, 17, 17);
  font-family: 'DynaPuff', sans-serif;
}
.wantedELetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkorange;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Kablammo', sans-serif;
}
.wantedDLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(19, 191, 36);
  font-family: 'DynaPuff', sans-serif;
}

/* TO word */

.toTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(180, 11, 163);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(80, 94, 6);
  font-family: 'Honk', sans-serif;
}
.toOLetter {
  font-size: 50px;
  font-weight: bold;
  color: rgb(5, 170, 189);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(26, 3, 110);
  font-family: 'Honk', sans-serif;
}

/* IMPROVE word */

.improveILetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(235, 228, 228);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(36, 6, 1);
  font-family: 'Honk', sans-serif;
}
.improveMLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(8, 204, 8);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(36, 36, 1);
  font-family: 'Piazolla', sans-serif;
}
.improvePLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(189, 230, 25);
  text-decoration: strike-through;
  text-transform: uppercase;
  background-color: rgb(33, 11, 144);
  font-family: 'DynaPuff', sans-serif;
}
.improveRLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(248, 90, 90);
  text-decoration: line-through;
  text-transform: uppercase;
  background-color: forestgreen;
  font-family: 'Piazolla', sans-serif;
}
.improveOLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(77, 44, 44);
  text-decoration: overline;
  text-transform: uppercase;
  background-color: yellowgreen;
  font-family: 'Honk', sans-serif;
}
.improveVLetter { 
  font-size: 50px;
  font-weight: bold;
  color: blueviolet;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightyellow;
  font-family: 'DynaPuff', sans-serif;
}
.improveELetter {
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: gold;
  font-family: 'Piazolla', sans-serif;
}

/* THEIR word */

.theirTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: normal;
  text-transform: uppercase;
  background-color: hotpink;
  font-family: 'Honk', sans-serif;
}
.theirHLetter { 
  font-size: 40px;
  font-weight: normal;
  color: maroon;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: darkcyan;
  font-family: 'Kablammo', sans-serif;
}
.theirELetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: whitesmoke;
  font-family: 'Honk', sans-serif;
}
.theirILetter { 
  font-size: 60px;
  font-weight: bold;
  color: darkred;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'Kablammo', sans-serif;
}
.theirRLetter { 
  font-size: 60px;
  font-weight: bold;
  color: rgb(200, 96, 4);
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'DynaPuff', sans-serif;
}

/* ROOT word */

.rootRLetter { 
  font-size: 50px;
  font-weight: bold;
  color: blue;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: magenta;
  font-family: 'Piazolla', sans-serif;
}
.rootOLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(6, 192, 62);
  text-decoration: underline;
  text-transform: uppercase;
  background-color: rgb(48, 3, 161);
  font-family: 'Kablammo', sans-serif;
}
.rootOTwoLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(80, 44, 3);
  text-decoration: overline;
  text-transform: uppercase;
  background-color: rgb(40, 193, 231);
  font-family: 'Honk', sans-serif;
}
.rootTLetter { 
  font-size: 50px;
  font-weight: bold;
  color: rgb(198, 232, 7);
  text-decoration: line-through;
  text-transform: uppercase;
  background-color: rgb(235, 17, 17);
  font-family: 'DynaPuff', sans-serif;
}

/* SKILLS word */

.skillsSLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightcoral;
  font-family: 'Piazolla', sans-serif;
}
.skillsKLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: overline;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Kablammo', sans-serif;
}
.skillsILetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkviolet;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightgreen;
  font-family: 'Honk', sans-serif;
}
.skillsLLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkred;
  text-decoration: line-through;
  text-transform: uppercase;
  background-color: lightgoldenrodyellow;
  font-family: 'DynaPuff', sans-serif;
}
.skillsLTwoLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: lightpink;
  font-family: 'Kablammo', sans-serif;
}
.skillsSTwoLetter { 
  font-size: 50px;
  font-weight: bold;
  color: darkgreen;
  text-decoration: none;
  text-transform: uppercase;
  background-color: lightcyan;
  font-family: 'Honk', sans-serif;
}

/* SYMBOLS */

.hyphen { 
  font-size: 50px;
  color: hotpink;
  text-decoration: none;
}
.exclamation-mark { 
  font-size: 50px;
  color: red;
  text-decoration: none;
}
.question-mark { 
  font-size: 50px;
  color: blueviolet;
  text-decoration: none;
}
